{% extends "base.html" %}

{% block cuerpo%}
<div class="row">
    <div class="col-md-4 offset-md-4"> <!-- offset-md-4 para centrar el contenido --> 
        <!-- inicio de la tarjeta card --> 
        <div class="card">
            <div class="card-body">

              <form action="/editarVenta/" method="POST"> {% csrf_token %}
                <div class="form-group">
                <input type="number" id="numid_venta" name="numid_venta" class="form-control"
                value="{{misventas.id_venta}}" min="00" max="1000" readonly required>
                </div>

                <div class="form-group py-3">
                <input type="number" id="numid_empleado" name="numid_empleado" class="form-control"
                value="{{misventas.id_empleado}}" min="00" max="1000" required>
                </div>

                <div class="form-group py-3">
                  <input type="number" id="numid_cliente" name="numid_cliente" class="form-control"
                  value="{{misventas.id_cliente}}" min="00" max="1000"" required>
                  </div>

                <div class="form-group py-3">
                  <input type="date" id="txtfecha_venta" name="txtfecha_venta" class="form-control"
                  value="{{misventas.fecha_venta}}" maxLenght="100" required>
                  </div>

                  <div class="form-group py-2">
                    <input type="number" id="numcantidad" name="numcantidad" class="form-control"
                    value="{{misventas.cantidad}}" min="0" max="10000" required>
                    </div>

                    <div class="form-group py-2">
                      <input type="number" id="numtotal" name="numtotal" class="form-control"
                      value="{{misventas.total}}" min="0" max="9999.99" required>
                      </div>

                <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

                </div>
            </div>
        <!-- fin de la tarjeta card -->
    </div> <!-- la columna -->
</div> <!-- la fila -->
{%endblock%}