{%extends "base.html"%}
{% load static %}
{% block cuerpo%}

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h1>Mamá</h1>
    
            <div class="card">
              <div class="card-body">
                <form action="/registrarProveedor/" method="POST"> {% csrf_token %}
                  <div class="form-group">
                    <input type="number" id="numid_proveedor" name="numid_proveedor" class="form-control"
                    placeholder="ID Proveedor" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Proveedor" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="text" id="txtproductos" name="txtproductos" class="form-control"
                    placeholder="Productos Proveedor" required>
                  </div>

                  <div class="form-group py-2">
                    <input type="number" id="numcantidad_productos" name="numcantidad_productos" class="form-control"
                    placeholder="cantidad de productos" required>
                  </div>
                  
                  <div class="form-group py-3">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Direccion Proveedor" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="date" id="txtfecha_contratacion" name="txtfecha_contratacion" class="form-control"
                    placeholder="Fecha de Contratacion Proveedor" required>
                  </div>

                  <div class="form-group py-3">
                    <input type="number" id="numsueldo" name="numsueldo" class="form-control"
                    placeholder="sueldo" required>
                  </div>
                  
                  <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                </form>
              </div>
            </div>

        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h1>Inventario Proveedores</h1>
            <img class="w-50" src="{% static 'img/proveedor.jpg' %}" alt="papeleria" width="400" height="300">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id_proveedor</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">productos</th>
                    <th scope="col">cantidad_productos</th>
                    <th scope="col">direccion</th>
                    <th scope="col">fecha_contratacion</th>
                    <th scope="col">sueldo</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for a in misproveedores %}
                      <tr>
                        <td>
                          {{forloop.counter}}
                        </td>
                        <td>{{a.id_proveedor}}</td>
                        <td>{{a.nombre}}</td>
                        <td>{{a.productos}}</td>
                        <td>{{a.cantidad_productos}}</td>
                        <td>{{a.direccion}}</td>
                        <td>{{a.fecha_contratacion}}</td>
                        <td>{{a.sueldo}}</td>
                        <td> <a href="seleccionarProveedor/{{a.id_proveedor}}" class="btn btn-success">Editar</a></td>
                        <td> <a href="borrarProveedor/{{a.id_proveedor}}" class="btn btn-danger">Borrar</a></td>
                      </tr>
                    {% endfor %}

                </tbody>
              </table>
        </div>
    
        </div>
    </div>


    
{%endblock%}
